/*****************************
******************************
**  DESIGNED BY AAKASH NP   **
** CREATED BY MARCO FISCHER **
**     AND MARVIN BORNER    **
******************************
*****************************/

@font-face {
    font-family: Moon;
    src: url("../fonts/Moon2.0-Bold.woff") format("woff"), url("../fonts/Moon2.0-Bold.ttf") format("truetype");
}

/*
General
 */

* {
    font-family: Moon;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;

    outline: none;
    ie-dummy: expression(this.hideFocus=true);
}

html, body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, white, lightgrey);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*
Main
 */
.Main {
    display: none;
}

/*
Header
 */
.TopImage {
    object-fit: cover;
    height: 30vh;
    width: 100%;
}

.Header {
    text-align: center;
    margin-top: -2.5rem;
}

.Header img {
    width: 100px;
    height: 100px;
}

.Header h1 {
    text-transform: capitalize;
}

/*
ABOUT TEXT
 */

.AboutText ul li {
    position: relative;
    display: inline;
    list-style-type: none;
}

.AboutText ul li:after {
    content: " | ";
}

.AboutText ul li:last-child:after {
    display: none;
}