/*****************************
******************************
**  DESIGNED BY AAKASH NP   **
** CREATED BY MARCO FISCHER **
**     AND MARVIN BORNER    **
******************************
*****************************/


@font-face {
    font-family: 'LaoUI'; /* for normal text */
    src: url("../fonts/LaoUI.ttf") format('truetype');
}
@font-face {
    font-family: 'LaoUIb'; /* for header */
    src: url("../fonts/LaoUIb.ttf") format('truetype');
}

/*
General
 */
* {
    font-family: 'LaoUI';
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;

    outline: none;
    ie-dummy: expression(this.hideFocus=true);
}

html, body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.TopMargin {
    margin: 20px 0 0 0;
}

/*
Titles
 */
.SubTitle {
    text-transform: capitalize;
    font-size: smaller;
    font-weight: bold;
    color: #132fff;
}

/*
Header
 */
.TopLeftLogo {
    position: absolute;
    margin: 5px 0 0 5px;
    top: 0;
    left: 0;
    width: 13vw;
    height: auto;
}

@media (min-width: 630px) {
    .TopLeftLogo {
        display: none;
    }
}

.TopImage {
    object-fit: cover;
    height: 35vh;
    width: 100%;
}

.Header {
    font-family: 'LaoUIb';
}

.Header .NameWrapper {
    position: absolute;
    top: calc(11vh + 100px);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 10ch;
    padding: 5px;
    text-transform: uppercase;
    font-size: small;
    font-weight: lighter;
    color: white;
    background-color: #212121;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.Header img {
    position: absolute;
    top: 10vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

/*
About-text
 */
.AboutOverview {
    clear: both;
}

.AboutOverview ul {
    text-align: center;
    font-size: small;
    margin: 0;
    padding: 0 20px 20px 30px;
}

.AboutOverview ul li {
    position: relative;
    display: inline;
    list-style-type: none;
}

.AboutOverview ul li:after {
    content: " | ";
}

.AboutOverview ul li:last-child:after {
    display: none;
}

/*
About section
 */
.AboutSection {
    width: 100%;
}

hr.AboutDivider {
    color: rgba(211, 211, 211, 0.20);
    width: 30vw;
}

.AboutText {
    margin: 0 15px 0 15px;
    font-size: small;
}

/*
Work image grid
 */
.MyWork {
    margin: 0 auto;
    width: 50vw;
}

.ImageSubText {
    font-size: 11px;
    text-align: left;
}

.ImageGrid {
    height: auto;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    column-count: 3;
    column-gap: 10px;
}

.ImageGrid img {
    margin: 20px 0 10px 0;
    object-fit: cover;
    width: 100% !important;
    height: auto !important;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.GridColumn {
    display: inline-grid;
}

@media (max-width: 1000px) {
    .ImageGrid {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 800px) {
    .ImageGrid {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

/*
Credits
 */
.Credits {
    margin-top: 20px;
    padding: 20px;
    background-color: darkgrey;
    color: #4d4d4d;
}

.Credits a {
    color: #4d4d4d;
    text-decoration: none;
    font-weight: bolder;
}

.Credits .Heart {
    color: #ff5663 !important;
}

