/*****************************
******************************
**  DESIGNED BY AAKASH NP   **
** CREATED BY MARCO FISCHER **
**     AND MARVIN BORNER    **
******************************
*****************************/

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

/*
General
 */
* {
    font-family: 'Product Sans';
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;

    outline: none;
    ie-dummy: expression(this.hideFocus=true);
}

html, body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(180deg, white, lightgrey);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.TopMargin {
    margin: 20px 0 0 0;
}

/*
Titles
 */
.TitleWrapper {
    position: relative;
    margin: 0;
    padding: 0 20px 0 20px;
}

.TitleWrapper h1 {
    text-align: center;
    text-transform: capitalize;
}

.TitleWrapper .SubTitle {
    color: #FE407F;
}

.TitleWrapper .SubTitle:before {
    content: "(";
}

.TitleWrapper .SubTitle:after {
    content: ")";
}

/*
Header
 */
.TopImage {
    object-fit: cover;
    height: 30vh;
    width: 100%;
}

.Header {
    margin-top: -2.5rem;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    align-content: flex-end;
}

.Header h2 {
    margin-left: -0.5rem;
    font-weight: lighter;
    left: 0;
}

.Header img {
    width: 100px;
    height: 100px;
}

/*
About-text
 */
.AboutText ul {
    text-align: left;
    margin: 0;
    padding: 0 20px 20px 30px;
}

.AboutText ul li {
    position: relative;
    display: inline;
    list-style-type: none;
}

.AboutText ul li:after {
    content: " | ";
}

.AboutText ul li:last-child:after {
    display: none;
}

/*
Social Media FABs
 */
.SocialMedia {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

@media (min-width: 600px) {
    /* on desktop only ~half size */
    .SocialMedia {
        width: 50%
    }
}

.SocialMedia .SocialFab {
    display: inline-block;
    cursor: pointer;
    color: white;
    height: 50px;
    width: 50px;
    padding: 0.5em 0.5em;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

@media (max-width: 400px) {
    .SocialMedia .SocialFab {
        height: 30px;
        width: 30px;
    }
}

.SocialFab.Twitter {
    background-color: #5E96F7;
}

.SocialFab.Instagram {
    background-color: #DF41FA;
}

.SocialFab.YouTube {
    background-color: #FF1645;
}

.SocialFab.GooglePlus {
    background-color: #ED5250;
}

/*
Work image grid
 */
.ImageGrid {
    margin: 20px 20px 0 20px;
    line-height: 0;
    -webkit-column-count: 4;
    -webkit-column-gap: 10px;
    -moz-column-count: 4;
    -moz-column-gap: 10px;
    column-count: 4;
    column-gap: 10px;
}

.ImageGrid img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

@media (max-width: 1000px) {
    .ImageGrid {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 800px) {
    .ImageGrid {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

/*
Contact me
 */
.ContactMe {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

@media (min-width: 600px) {
    .ContactMe {
        width: 50%
    }
}

.ContactMe .ContactFab {
    display: inline-block;
    cursor: pointer;
    color: white;
    height: 50px;
    width: 50px;
    padding: 0.5em 0.5em;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

@media (max-width: 700px) {
    .ContactMe .ContactFab {
        height: 30px;
        width: 30px;
    }
}

.ContactFab.Hangouts {
    background-color: #3CC173;
}

.ContactFab.Telegram {
    background-color: #516BF7;
}

.ContactFab.gMail {
    background-color: #E13335;
}

/*
Super cool life motto
 */
.SuperCoolLifeMotto {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    font-size: larger;
    margin: 50px 15px 20px 0;
}

.QuoteColumn {
    height: 100%;
    width: 15%;
}

.TextColumn {
    height: 100%;
    width: 50%;
}

.QuoteAuthor {
    display: inline-block;
    color: #FE407F;
}

.QuoteAuthor:before {
    content: "- ";
}

/*
Scroll up
 */
.ScrollUp .ScrollFab {
    display: inline-block;
    cursor: pointer;
    color: white;
    background: linear-gradient(#3F80FD, #3A59E4);
    height: 50px;
    width: 50px;
    padding: 0.5em 0.5em;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

@media (max-width: 700px) {
    .ScrollUp .ScrollFab {
        height: 30px;
        width: 30px;
    }
}

/*
Credits
 */
.Credits {
    margin: 20px;
    color: #4d4d4d;
}

.Credits a {
    color: #4d4d4d;
    text-decoration: none;
    font-weight: bolder;
}

.Credits i {
    color: red !important;
}

